.address{
  
   
}
.addressbrand{
    width:100%;
    height:auto;
    background: #fff;
    p{
        height:1rem;
        line-height: 1rem;
        display: flex;
        span{
            margin-left: .2rem;
            flex:4;
        }
        b{
            flex:6;
        }
    }
    
}
.addresstop{
    width:100%;
    height:.6rem;
    line-height: .6rem;
    border-bottom:.01rem solid #ccc;
    display: flex;
    span{
        flex:1;
    }
    b{
        flex:9;
        text-align: center;
    }
}
.btn{
    width:100%;
    height:1rem;
    background: rgb(68, 187, 235);
    color:#fff;
    font-size: .3rem;
    border:.01rem solid #ccc;
    bottom:0;
    position: fixed;
}
.allbtn{
    width:100%;

    height:.8rem;
    background: red;
    position: fixed;
    bottom:0;
    margin-left:-.3rem;
    display: flex;
    .ant-btn{
        flex:5;
        width:100%;
        height:.8rem;
        border:.01rem solid skyblue;
        color:#fff;
        font-size: .3rem;
        background: rgb(25, 123, 161);
    }
}
.guanli{
    width:100%;
    height:6rem;
    margin-top: .3rem;
    // background: orange;
    input{
        width:100%;
        float: left;
        height: .8rem;
        margin-top: .5rem;
        border:.01rem solid #ccc;
    }
    .addressList{
        margin-top: 2.2rem;
    }
    .onePx_bottom{
        float: left;
        margin-top: .3rem;
        img{
            width:.4rem;
        }
    }
}


.adre{
    width:100%;
    height:2rem;
    border-bottom: .01rem solid #ccc;
    display: flex;
    font-size: .3rem;
    p{
        flex:2;
        line-height: 2rem;
        margin-left: .3rem;
    }
    b{
        flex:7;
        margin-top: .3rem;
        span{
            line-height: .3rem;
        }
    }
    i{
        flex:1;
        line-height: 2rem;
    }
}