.topicDetail{
    width:100%;
    height:100%;
    font-size: .3rem;
}
.topic{
    width:100%;
    height:auto;
    background: #fff;

    p{
        height:1rem;
        line-height: 1rem;
        display: flex;
        border-bottom:.01rem solid #ccc;
        span{
            margin-left: .2rem;
            flex:2;
        }
        b{
            flex:8;
            margin-left: .08rem;
        }
    }
    
}
.topicgun{
    width:100%;
    height:12.8rem;
    overflow-y:scroll;
}
.topicImg{
    width:100%;
    // height:auto;
    overflow-y:scroll;
    img{
        width:100%;
        height: auto;
        overflow-y:scroll;
    }
}
.allliyan{
    width:100%;
    height:auto;
    background: pink;
    padding:.05rem .3rem;
    margin-top: .2rem;
    h5{
        width:100%;
        height: 1rem;
        line-height: 1rem;
        span{
            display:block;
            float: right;
        }
    }
    b{
        line-height: 0;
    }
}