.swiper{
    width:100%;
    height:3.4rem;
    background: red;
}
.swiper-wrapper{
    width:100%;
    height:3.4rem;
}
.swiper-slide img{
    width:100%;
    height:100%;
}
.swiper-pagination{
    top:65%;
}
.content{
    width:100%;
    height:1.2rem;
    background: orange;
}
.brand{
    height:5rem;
    background: orange;
    margin-top: .1rem;
    p{
        height:.7rem;
        text-align: center;
        line-height: .7rem;
        font-size: .3rem;
        border-bottom:.01rem solid #ccc;
    }
    .brandManu{
        width:100%;
        height:4rem;
        background: yellow;
        .brandMenu{
            width:50%;
            height:2rem;
            float: left;
            background: red;
            
            img{
                width:100%; 
                height:100%;
                // position: absolute; 
            }
            // span{
            //     font-size: .2rem;
            //     position: relative;
            //     top:0;
            // }
        }
    }
    
}
.newProduct{
    height:10rem;
    background: orange;
    margin-top: .1rem;
    p{
        height:.7rem;
        text-align: center;
        line-height: .7rem;
        font-size: .3rem;
        border-bottom:.01rem solid #ccc;
    }
    .newProduct-top{
        width:100%;
        height:8rem;
        dl{
            width:50%;
            height:3.8rem;
            float: left;
            dt{
                height:2.45rem;
                img{
                   width:100%;
                   height:2.5rem; 
                }
            }
            dd{
                font-size: .3rem;
                text-align: center;
                p{
                    border:none;
                }
                .productPrice{
                    color: red;
                }
            }
        }
    }
   
}
.popularity{
    height:10rem;
    background: orange;
    margin-top: .1rem;
    p{
        height:.7rem;
        text-align: center;
        line-height: .7rem;
        font-size: .3rem;
        border-bottom:.01rem solid #ccc;
    }
    .popularity-top{
        width:100%;
        height:7rem;
        .popularity-content{
            width:100%;
            height:2rem;
            margin-top:.4rem;
            display: flex;
            border:
            .popularity-left{
                flex:3;
                span{
                    img{
                        width:2rem; 
                        height:2rem;
                        margin-left: .5rem;
                    }
                }
            }
            .popularity-right{
                flex:7;
                p{
                    border:none;
                }
            
            }
        }
    }
   
}